<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinBasics"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myFirstProject.MyFirstProjectActivity" />
        <activity android:name=".objectOrientedProgramming.ObjectOrientedProgrammingActivity" />
        <activity android:name=".intent.IntentMainActivity" />
        <activity android:name=".intent.IntentSecondActivity" />
        <activity android:name=".layouts.LayoutsActivity" />
        <activity android:name=".gridView.GridViewActivity" />
        <activity android:name=".lifeCycles.LifeCyclesActivity" />
        <activity android:name=".lifeCycles.LifeCyclesFragmentActivity" />
        <activity android:name=".lifeCycles.LifeCyclesSecondActivity" />
        <activity android:name=".listView.ListViewActivity" />
        <activity android:name=".recyclerView.RecyclerViewActivity" />
        <activity android:name=".scrollView.ScrollViewActivity" />
        <activity android:name=".services.ServicesActivity" />
        <activity android:name=".topAppBar.TopAppBarActivity" />
        <activity android:name=".userInteractions.UserInteractionsActivity" />
        <activity android:name=".webView.WebViewActivity" />
        <activity android:name=".multipleLanguage.MultipleLanguageActivity" />
        <activity android:name=".fragments.FragmentsActivity" />
        <activity android:name=".dialogFragment.DialogFragmentActivity" />
        <activity android:name=".listFragment.ListFragmentMainActivity" />
        <activity android:name=".listFragment.ListFragmentSecondActivity" />
        <activity android:name=".sendingDataBetweenActivities.SendingDataBetweenActivitiesMainActivity" />
        <activity android:name=".sendingDataBetweenActivities.SendingDataBetweenActivitiesSecondActivity" />
        <activity android:name=".sendingDataFromActivityToFragment.SendingDataFromActivityToFragmentActivity" />
        <activity android:name=".sendingDataFromFragmentToActivity.SendingDataFromFragmentToActivityActivity" />
        <activity android:name=".sendingDataFromFragmentToFragment.SendingDataFromFragmentToFragmentActivity" />
        <activity android:name=".sendSMS.SendSMSActivity" />
    </application>

</manifest>